<p id="notice"><%= notice %></p>

<div class="topic-index-wrapper">
  <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">

            <table>
              <thead>
                <tr>
                  <th>Titles</th>
                  <th>Movie</th>
                  <th colspan="2"></th>
                </tr>
              </thead>
            
              <tbody>
                <% @articles.each do |article| %>
                  <tr>
                    <td><%= article.title %></td>
                    <td><%= article.title %></td>
                    <td><%= link_to 'Show', article %></td>
                    <td><%= link_to 'Destroy', article, method: :delete %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
            <br>
            
            <%= link_to 'New Article', new_article_path %>
            
                
            
            
          </div>
        </div>
      </div>
      
  </div>
</div>