<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">動画の投稿</h1>

            <%= form_with model: @article, local: true do |f| %>
            
            <div class="field">
              <%= f.label :video %>
              <%= f.file_field :video, :accept => 'video/*' %>
            </div>
            
<%
=begin
%>            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control' %>
            </div>
<%
=end
%>            
            
            <% if logged_in? %>
            　<%= f.submit '投稿', class: 'btn btn-black btn-block' %>
            <% end %>
            
        <% end %>
      </div>
    </div>
  </div>
</div>
