
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @article.video %>
</p>

<%= link_to 'Back', articles_path %>

<div class="video-player">
    <%= video_tag @article.video.url, autoplay: false, muted: false, controls: true , :size => "854x480"%>
</div>
