<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      
      <td><%= @article.title %></td>

            <h2 style="text-align:left">
              <div class="video-player">
                <%= video_tag @article.video.url, autoplay: false, muted: false, controls: true , :size => "854x480"%>
              </div>
            </h2>
            
            
             <%= link_to '削除する', @article, method: :delete %>
             <%= link_to 'Back', articles_path %>
             
             <% if @article.errors.any? %>
              <div class = "alert">
                <ul>
                  <% user.errors.full_messages.each do |message| %>
                    <li><%= 失敗しました %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
      
    </div>
  </div>
</div>      
